.Form {
    width: 95%;
    background: #FFFFFF;
    margin: 0 auto;
    gap: 20px;

    &-labelTitle, &-labelDesc, &-labelDate, &-labelTime, &-labelColor {
        font-family: 'Open Sans', sans-serif;  
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #384042;
        margin-bottom: 5px;
    }

    &-title {
        // background: violet;
        width: 100%;
        height: 48px;
        border: 1px solid #31272566;
        border-radius: 6px;
        // margin-bottom: 20px;
    }

    &-title::placeholder, &-textarea::placeholder {
        font-family: 'Open Sans', sans-serif;  
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #38404280;
        padding-left: 20px;
    }


    &-textarea {
        // background: rgb(60, 39, 60);
        width: 100%;
        height: 76px;
        border: 1px solid #31272566;
        border-radius: 6px;
    }

    &-ctnTwo {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &-date, &-time {
        height: 48px;
        border: 1px solid #31272566;
        border-radius: 6px;
    }

    &-ctnd {
        width: 100%;
        gap: 20px;
    }


    &-date {
        // background-color: aquamarine;
        width: 80%;
    }

    &-time {
        // background-color: rgb(113, 135, 128);
        width: 80%;
    }

    &-picker {
        display: flex;
        gap: 15px;
    }

    &-picker input{
        width: 55px;
        height: 48px;
        border: 3px;
        border-radius: 6px;
        cursor: pointer;
    }

    &-pickOne{
        background-color: #C8E6C9;;
        
    }
    &-pickTwo{
        background-color: #F5DD29;
    }
    &-pickThree{
        background-color: #FFCC80;
    }
    &-pickFour{
        background-color: #EF9A9A;
    }
    &-pickFive{
        background-color: #CD8DE5;
    }
    &-pickSix{
        background-color: #5BA4CF;
    }
    &-pickSeven{
        background-color: #29CCE5;
    }
    &-pickEight{
        background-color: #6DECA9;
    }
    &-pickNine{
        background-color: #FF8ED4;
    }
    &-pickTen{
        background-color: #BCAAA4;
    }

    &-picker input[type="checkbox"]:checked {
        border: 2px solid #000; /* Cambia el color y ancho del borde según tu preferencia */
    }

    &-picker input[type="checkbox"]:not(:checked) {
        border: none;
    }

    &-errors {
        color: red;
        font-weight: 600;
    }

    &-separation {
        width: 100%;
        border: 1px solid #31272566;
        margin: 30px 0 40px 0;
    }

    &-ctnBtns {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &-twobnts {
        display: flex;
        gap: 20px;
    }

    &-btnOne {
        width: 108px;
        height: 49px;
        border-radius: 4px;
        background: #626262;
        color: #FFFFFF;
        cursor: pointer;
    }
    &-btnTwo {
        width: 108px;
        height: 49px;
        border-radius: 4px;
        background: #394ABC;
        color: #FFFFFF;
        cursor: pointer;
    }

    &-btnThree {
        width: 108px;
        height: 49px;
        border-radius: 4px;
        background: #D42222;
        color: #FFFFFF;
        cursor: pointer;
    }

}